.btn{
    padding:.75rem 2rem;
    outline: none;
    border: none;
    font-size:1rem;
    font-weight: 500;
    color: #000;
    background-color: #9A3B3B;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;

}
body{
    font-family:  'Poppins', sans-serif;
}
.navbar-brand img{
    width: 50px;
    
 }
 .nav-link a{
     float: left;
     margin-right: 50px;
  
 }
 nav{
     /* background-image: url(../assets/nav3.jfif); */
     background-size: cover;
 }
 .sty{
     color:#000;
     font-size: 17px;
     font-family: 'Poppins', sans-serif;
 
 }
 



 