<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbars" >
      <a class="navbar-brand" href="#"><img src="../assets/adminlogo.png">  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: left; margin-left: 20px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['home']"><strong class="sty">Home</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']"><strong class="sty">About</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Categories']"><strong class="sty">Categories</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['cart-page']"><strong class="sty">Cart</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['chat']"><strong class="sty">chat</strong></a>
          </li>
          
        
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['admin']">Admin</a>
          </li>
        -->
          </ul>
        
          
          <button class = "btn btn-primary ms-auto" [routerLink]="['login']"  ><strong>Login</strong></button>
        
        <button class="btn btn-primary" [routerLink]="['register']"  ><strong>Regsiter</strong></button>
        
      </div>
    </nav>
   

  
  </body>

  <router-outlet></router-outlet>
</html>