  <div class="jumbotron">
        <h1>Order Your Favourite Snack</h1>
        <p> Brownies are a special treat for chocolate lovers, and a perfect way to satisfy your sweet tooth. 😋</p>
   
            <!-- <div class="form-outline">
              <input type="search" id="form1" placeholder="Search"     class="form-control" />
              
            </div> -->
            <div class="search">
            <input type="text" placeholder="Search your Delicious Snack" [(ngModel)]="searchItem" (change)="search()">
            <button (click)="search()">Search</button> 
            </div>

         
    </div>
   

    <br>
    <br>