.btn{
    border-radius: 20rem;
    background-color: #9a9a9a;
    text-align: center;
}
.container{
    text-align: center;
    
}

 
@media (max-width:450px)
{
 
    html{
       font-size: 50%;
    }
}

